<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape the Data</a></p>
    </div>

    <div class="container-fluid">
    <div class="row" >
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h3 class="heading"><strong>{{mars.news_title}} </strong></h3>
        <p> {{mars.news_paragraph}}</p>
          </div>
    </div>
  </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 ">
          <h2>Featured Mars Image</h2>
          <img src="{{mars.featured_image_url}}" alt="Mars featured image" style="width:700px;height:600px;border:0;"/>
        </div>
      
        <div class="col-md-4">
          <div class="row weather-box">
            <div class="col-md-12">
              <h3>The current weather on Mars</h3>
              <p>
                {{mars.tweet}}
              </p>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Mars facts</h3>
            {{mars.facts_table | safe }}
          </div>
        </div>
      </div>
    </div>
   
    
    <div class="container-fluid">

      <div class="jumbotron  text-center">
        <h1>Mars Hemispheres</h1>

        <div class="row">
          <div class="col-md-6">
            <img src="{{mars.hemisphere_image_urls[0]['img_url']}}" alt="Mars Hemisphere1" style="width:400px;height:400px;border:0;">
            <h3>{{mars.hemisphere_image_urls[0]['title']}}</h3>
          </div>
          <div class="col-md-6">
            <img src="{{mars.hemisphere_image_urls[1]['img_url']}}" alt="Mars Hemisphere2" style="width:400px;height:400px;border:0;">
            <h3>{{mars.hemisphere_image_urls[1]['title']}}</h3>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <img src="{{mars.hemisphere_image_urls[2]['img_url']}}" alt="Mars Hemisphere1" style="width:400px;height:400px;border:0;">
            <h3>{{mars.hemisphere_image_urls[2]['title']}}</h3>
          </div>
          <div class="col-md-6">
            <img src="{{mars.hemisphere_image_urls[3]['img_url']}}" alt="Mars Hemisphere2" style="width:400px;height:400px;border:0;">
            <h3>{{mars.hemisphere_image_urls[3]['title']}}</h3>
          </div>
        </div>
      

  </div>
</body>

</html>

